.git
.gitignore
.env
.env.backup
.env.bak
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
.idea
.vscode
.DS_Store
Thumbs.db
docker-compose.override.yml
